## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kodiak,US,2021-11-08 03:25:25,57.7900,-152.4072,31.55,90,97,12.88,light snow
1,1,Mataura,NZ,2021-11-08 03:25:25,-46.1927,168.8643,72.90,40,100,1.14,overcast clouds
2,2,Punta Arenas,CL,2021-11-08 03:24:53,-53.1500,-70.9167,44.71,70,40,16.11,scattered clouds
3,3,Butaritari,KI,2021-11-08 03:25:26,3.0707,172.7902,82.06,70,13,10.85,few clouds
4,4,Yellowknife,CA,2021-11-08 03:25:26,62.4560,-114.3525,27.41,99,90,1.99,light snow

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 88

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Butaritari,KI,2021-11-08 03:25:26,3.0707,172.7902,82.06,70,13,10.85,few clouds
8,8,Saint-Philippe,RE,2021-11-08 03:25:29,-21.3585,55.7679,79.48,79,40,9.69,scattered clouds
9,9,Itoman,JP,2021-11-08 03:25:29,26.1247,127.6694,79.18,72,75,10.36,broken clouds
10,10,Rikitea,PF,2021-11-08 03:23:11,-23.1203,-134.9692,75.54,75,100,12.50,light rain
13,13,Hilo,US,2021-11-08 03:25:31,19.7297,-155.0900,76.73,83,90,4.61,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
703,703,Panalingaan,PH,2021-11-08 03:30:29,8.7842,117.4231,87.01,69,92,3.38,overcast clouds
707,707,Point Pedro,LK,2021-11-08 03:30:30,9.8167,80.2333,80.13,83,95,7.83,overcast clouds
713,713,Palauig,PH,2021-11-08 03:30:32,15.4350,119.9045,87.44,63,16,5.66,few clouds
714,714,Micheweni,TZ,2021-11-08 03:30:32,-4.9667,39.8333,77.29,78,88,2.98,overcast clouds
719,719,Angoche,MZ,2021-11-08 03:30:34,-16.2325,39.9086,75.43,84,8,7.74,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Butaritari,KI,2021-11-08 03:25:26,3.0707,172.7902,82.06,70,13,10.85,few clouds
8,8,Saint-Philippe,RE,2021-11-08 03:25:29,-21.3585,55.7679,79.48,79,40,9.69,scattered clouds
9,9,Itoman,JP,2021-11-08 03:25:29,26.1247,127.6694,79.18,72,75,10.36,broken clouds
10,10,Rikitea,PF,2021-11-08 03:23:11,-23.1203,-134.9692,75.54,75,100,12.50,light rain
13,13,Hilo,US,2021-11-08 03:25:31,19.7297,-155.0900,76.73,83,90,4.61,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
703,703,Panalingaan,PH,2021-11-08 03:30:29,8.7842,117.4231,87.01,69,92,3.38,overcast clouds
707,707,Point Pedro,LK,2021-11-08 03:30:30,9.8167,80.2333,80.13,83,95,7.83,overcast clouds
713,713,Palauig,PH,2021-11-08 03:30:32,15.4350,119.9045,87.44,63,16,5.66,few clouds
714,714,Micheweni,TZ,2021-11-08 03:30:32,-4.9667,39.8333,77.29,78,88,2.98,overcast clouds
719,719,Angoche,MZ,2021-11-08 03:30:34,-16.2325,39.9086,75.43,84,8,7.74,clear sky

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,82.06,few clouds,3.0707,172.7902,
8,Saint-Philippe,RE,79.48,scattered clouds,-21.3585,55.7679,
9,Itoman,JP,79.18,broken clouds,26.1247,127.6694,
10,Rikitea,PF,75.54,light rain,-23.1203,-134.9692,
13,Hilo,US,76.73,overcast clouds,19.7297,-155.0900,
14,Cukai,MY,87.75,broken clouds,4.2500,103.4167,
15,Vaini,TO,78.96,moderate rain,-21.2000,-175.2000,
17,Bida,NG,76.87,broken clouds,9.0833,6.0167,
30,Pitimbu,BR,79.39,scattered clouds,-7.4706,-34.8086,
31,Gao,ML,80.58,clear sky,16.6362,1.6370,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

    
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("hotel found")
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Cannot find hotel...skipping.
hotel found
Cannot find hotel...skipping.
hotel found

In [19]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Saint-Philippe,RE,79.48,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
30,Pitimbu,BR,79.39,scattered clouds,-7.4706,-34.8086,Reserva do Abiaí
56,Cabo San Lucas,MX,80.51,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
66,San Andres,CO,82.42,broken clouds,12.5847,-81.7006,Hotel Arena Blanca
97,Niono,ML,83.75,clear sky,14.2526,-5.9930,Hôtel Campement
...,...,...,...,...,...,...,...
699,Mahajanga,MG,77.02,few clouds,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga
701,Ternate,ID,87.55,broken clouds,0.8000,127.4000,Sahid Bela Ternate Hotel
703,Panalingaan,PH,87.01,overcast clouds,8.7842,117.4231,I Love Panalingaan View Deck
713,Palauig,PH,87.44,few clouds,15.4350,119.9045,Alperi Botique Resort
719,Angoche,MZ,75.43,clear sky,-16.2325,39.9086,Guest House HESADA

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))